In [1]:
import pandas as pd

In [2]:
frame = pd.DataFrame({'numbers': range(10), 'chars' : ['a'] * 10})

In [3]:
frame

  chars  numbers
0     a        0
1     a        1
2     a        2
3     a        3
4     a        4
5     a        5
6     a        6
7     a        7
8     a        8
9     a        9

In [7]:
frame.to_csv("sample.csv")

In [8]:
!cat sample.csv

,chars,numbers
0,a,0
1,a,1
2,a,2
3,a,3
4,a,4
5,a,5
6,a,6
7,a,7
8,a,8
9,a,9

In [14]:
frame = pd.read_csv('dataset.tsv', sep='\t', header=0)

In [15]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер